{% extends 'base.html' %}
{% load static %}

{% block title %} Book store | My carshop {% endblock title %}


{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock css %}
    

{% block content %}

    {% include 'includes/header.html' %}
    <div class="h-screen w-full flex flex-col">
        <div class="w-full max-w-[1400px] mx-auto flex flex-wrap justify-center">
        <div class="my-8 w-full justify-center md:justify-start p-2">
            <h1 class="font-bold"><span class="text-2xl md:text-4xl">Shopping cart </span><span class="text-neutral-500 font-bold text-lg">({{total_items}} Items)</span></h1>
        </div>
        
        {% if carshop_items %}
            <div class="my-4 mr-1 rounded-lg shadow-lg flex flex-wrap min-w-[450px] p-1 w-full lg:w-7/12">
                <div class="w-full flex border-b-2 border-[#f1f1f1]">
                    <div class="text-left p-4 flex items-center w-4/12">
                        <h2 class="font-bold">Product</h2>
                    </div>
                    <div class="p-4 flex items-center w-2/12 justify-center">
                        <h2 class="font-bold text-center">Subtotal</h2>
                    </div>
                    <div class="p-4 flex items-center w-4/12 justify-center">
                        <h2 class="font-bold text-center">Quantity</h2>
                    </div>
                    <div class="p-4 flex items-center w-2/12 justify-center">
                        <h2 class="font-bold text-center">Remove</h2>
                    </div>
                </div>
                {% for cartitem in carshop_items %}
                    <div class="w-full flex border-b-2 border-[#f1f1f1]">
                        <div class="text-left p-4 flex items-center w-4/12">
                            <img 
                                src="{{cartitem.book.image.url}}" 
                                alt="{{cartitem.book.name}}"
                                class="max-w-[50px] h-auto w-3/12"
                            >
                            <div class="w-8/12 ml-2 font-bold justify-start flex-wrap hidden md:flex">
                                <span class="flex w-full">{{cartitem.book.name}}</span>
                                <span class="text-neutral-400 flex w-full">{{cartitem.book.author}}</span>
                            </div>
                        </div>
                        <div class="p-4 flex items-center w-2/12 justify-center">
                            <h2 class="font-bold text-center text-lg">${{cartitem.sub_total}}</h2>
                        </div>
                        <div class="p-4 flex items-center w-4/12 justify-center">
                            <form action="/car/remove-item" method="post">{% csrf_token %}
                                <input type="hidden" name="carshop_item_id" value="{{cartitem.id}}">
                                <input type="submit" value="-" class="py-2 px-4 border-2 border-[#f1f1f1] text-lg font-bold hover:bg-primary hover:text-white">
                            </form>
                            <div class="py-2 px-4 border-2 border-[#f1f1f1] text-lg">{{cartitem.quantity}}</div>
                            <form action="/car/add-product" method="post">{% csrf_token %}
                                <input type="hidden" name="bookId" value="{{cartitem.book.id}}">
                                <input type="hidden" name="quantity" value="1">
                                <input type="submit" value="+" class="py-2 px-4 border-2 border-[#f1f1f1] text-lg font-bold hover:bg-primary hover:text-white">
                            </form>
                        </div>
                        <div class="p-4 flex items-center w-2/12 justify-center">
                            <form action="/car/remove-item" method="post">{% csrf_token %}
                                <input type="hidden" name="carshop_item_id" value="{{cartitem.id}}">
                                <input type="hidden" value="t" name="all">
                                <button type="submit">
                                    <span class="material-symbols-outlined text-[#f00] hover:text-blue-500">
                                        delete
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="my-4 ml-1 rounded-lg shadow-lg flex flex-wrap min-w-[450px] p-1 w-full lg:w-4/12 h-max">
                <div class="w-full border-b-2 border-[#f1f1f1] py-3 px-1 mx-1 my-2 font-semibold text-xl">
                    Total
                </div>
                <div class="w-full border-b-2 border-[#f1f1f1] py-3 px-1 mx-1 my-2 flex flex-wrap justify-between">
                    <div class="w-6/12 flex justify-center">
                        <span class="font-semibold text-lg">Total</span>
                    </div>
                    <div class="w-6/12 flex justify-center">
                        <span class="font-semibold text-lg">${{cart.total}}</span>
                    </div>
                    <div class="w-6/12 flex justify-center">
                        <span class="font-semibold text-lg">Shipping</span>
                    </div>
                    <div class="w-6/12 flex justify-center">
                        <span class="font-semibold text-lg">$20.00</span>
                    </div>
                </div>
                <div class="w-full  py-3 px-1 mx-1 my-2 flex flex-wrap justify-between">
                    <div class="w-6/12 flex justify-center">
                        <span class="font-semibold text-lg">Total</span>
                    </div>
                    <div class="w-6/12 flex justify-center">
                        <span class="font-semibold text-lg">${{total}}</span>
                    </div>
                    <div class="w-full flex justify-center mt-3">
                        <a href="/car/checkout" class="bg-primary text-white text-center px-4 py-2 rounded-md w-10/12 hover:bg-blue-500 max-h-[50px]">Checkout</a>
                    </div>
                </div>
                <div class="my-4 ml-1 flex flex-wrap p-1 w-full lg:w-4/12 h-max">
                    <span class="font-semibold text-neutral-500 block w-full text-left ml-3 mb-1">We Accept:</span>
                    <img src="{% static 'imgs/payment.png' %}" alt="payment methods" class="ml-3">
                </div>
            </div>
        {% else %}
        <div
        class="flex w-full rounded-lg border-l-[6px] border-transparent bg-white px-7 py-8 shadow-md md:p-9 max-w-[1000px] mx-auto my-10"
        >
        <div
            class="mr-5 flex h-9 w-full max-w-[36px] items-center justify-center rounded-lg bg-warning bg-opacity-30"
        >
            <svg
            width="19"
            height="16"
            viewBox="0 0 19 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            >
            <path
                d="M1.50493 16H17.5023C18.6204 16 19.3413 14.9018 18.8354 13.9735L10.8367 0.770573C10.2852 -0.256858 8.70677 -0.256858 8.15528 0.770573L0.156617 13.9735C-0.334072 14.8998 0.386764 16 1.50493 16ZM10.7585 12.9298C10.7585 13.6155 10.2223 14.1433 9.45583 14.1433C8.6894 14.1433 8.15311 13.6155 8.15311 12.9298V12.9015C8.15311 12.2159 8.6894 11.688 9.45583 11.688C10.2223 11.688 10.7585 12.2159 10.7585 12.9015V12.9298ZM8.75236 4.01062H10.2548C10.6674 4.01062 10.9127 4.33826 10.8671 4.75288L10.2071 10.1186C10.1615 10.5049 9.88572 10.7455 9.50142 10.7455C9.11929 10.7455 8.84138 10.5028 8.79579 10.1186L8.13574 4.75288C8.09449 4.33826 8.33984 4.01062 8.75236 4.01062Z"
                fill="#FBBF24"
            ></path>
            </svg>
        </div>
        <div class="w-full">
            <h5 class="mb-3 text-lg font-semibold text-[#9D5425]">Empty Cart</h5>
            <p class="text-base leading-relaxed text-[#D0915C]">
            You don't have products in your cartshop yet. Visit our website to find a book you like! 
            </p>
        </div>
        </div>
        {% endif %}
        </div>
        {% include 'includes/footer.html' %}
    </div>
{% endblock content %}